In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\anish\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anish\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anish\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Using cached joblib-1.5.3-py3-none-any.whl (309 kB)
Installing collected packages: joblib
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.1
    Uninstalling joblib-1.1.1:
      Successfully uninstalled joblib-1.1.1
Successfully installed joblib-1.5.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires joblib~=1.1.0, but you have joblib 1.5.3 which is incompatible.
pandas-profiling 3.2.0 requires visions[type_image_path]==0.7.4, but you have visions 0.8.1 which is incompatible.

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler=MinMaxScaler()

In [5]:
df=pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [14]:
new_df=df.iloc[:,[1,2,3]]

In [16]:
new_df

      year  selling_price  km_driven
0     2007          60000      70000
1     2007         135000      50000
2     2012         600000     100000
3     2017         250000      46000
4     2014         450000     141000
...    ...            ...        ...
4335  2014         409999      80000
4336  2014         409999      80000
4337  2009         110000      83000
4338  2016         865000      90000
4339  2016         225000      40000

[4340 rows x 3 columns]

In [18]:
scaled_new_df=scaler.fit_transform(new_df)

In [33]:
scaled_new_df

          year  selling_price  km_driven
0     0.535714       0.004505   0.086783
1     0.535714       0.012950   0.061988
2     0.714286       0.065315   0.123976
3     0.892857       0.025901   0.057028
4     0.785714       0.048423   0.174807
...        ...            ...        ...
4335  0.785714       0.043919   0.099181
4336  0.785714       0.043919   0.099181
4337  0.607143       0.010135   0.102900
4338  0.857143       0.095158   0.111579
4339  0.857143       0.023086   0.049590

[4340 rows x 3 columns]

In [21]:
scaled_new_df=pd.DataFrame(scaled_new_df,columns=new_df.columns)

In [22]:
scaled_new_df

          year  selling_price  km_driven
0     0.535714       0.004505   0.086783
1     0.535714       0.012950   0.061988
2     0.714286       0.065315   0.123976
3     0.892857       0.025901   0.057028
4     0.785714       0.048423   0.174807
...        ...            ...        ...
4335  0.785714       0.043919   0.099181
4336  0.785714       0.043919   0.099181
4337  0.607143       0.010135   0.102900
4338  0.857143       0.095158   0.111579
4339  0.857143       0.023086   0.049590

[4340 rows x 3 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [26]:
x=scaled_new_df.drop('year',axis=1)
y=scaled_new_df['year']

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [28]:
x_train

      selling_price  km_driven
227        0.166667   0.024794
964        0.054054   0.061988
2045       0.008198   0.030993
1025       0.008446   0.086783
4242       0.074887   0.089263
...             ...        ...
3444       0.054054   0.061988
466        0.012725   0.099181
3092       0.072635   0.063227
3772       0.026013   0.099181
860        0.017455   0.099181

[3472 rows x 2 columns]

In [31]:
y_test

3978    0.642857
1448    0.964286
2664    0.571429
17      0.785714
1634    0.857143
          ...
3468    0.535714
3164    0.821429
416     0.678571
1616    0.892857
2480    0.964286
Name: year, Length: 868, dtype: float64